<div class="container">
  <header>
    <input [(ngModel)]="todo" type="text" placeholder="Task Name">
    <select [(ngModel)]="level">
      <option value="Easy">Easy</option>
      <option value="Medium">Medium</option>
      <option value="Hard">Hard</option>
    </select>
    <button (click)="addTodo()">Add</button>
  </header>
  <div class="content">
    <div class="to-do-box">
      <div class="title">
        <h3>To-do</h3>
      </div>
      <div [ngClass]="toDoContent" *ngFor="let todo of todos; let i = index;">
        <div class="values">
          <div>{{i + 1}}. {{ todo.name }}</div>
          <div>{{ todo.level }}</div>
        </div>
        <div class="buttons">
          <button (click)="moveToProgress(i)">></button>
          <button (click)="deleteItem(i)">X</button>
        </div>
      </div>
    </div>
    <div class="to-do-box">
      <div class="title">
        <h3>In Progress</h3>
      </div>
      <div [ngClass]="toDoContent" *ngFor="let todo of inProgressTodo; let i = index;">
        <div class="values">
          <div>{{i + 1}}. {{ todo.name }}</div>
          <div>{{ todo.level }}</div>
        </div>
        <div class="buttons">
          <button (click)="moveToTodo(i)"><</button>
          <button (click)="moveToDone(i)">></button>
        </div>
      </div>
    </div>
    <div class="to-do-box">
      <div class="title">
        <h3>Done</h3>
      </div>
      <div [ngClass]="toDoContent" *ngFor="let todo of doneTodo; let i = index;">
        <div class="values">
          <div>{{i + 1}}. {{ todo.name }}</div>
          <div>{{ todo.level }}</div>
        </div>
        <div class="buttons">
          <button (click)="moveBackToProgress(i)"><</button>
        </div>
      </div>
    </div>
  </div>
</div>
